mat-card {
    width: 250px;
    float: left;
    margin: 0 20px 20px 0;
}
mat-card-content {
    text-align: center;
}
.translated-percentage {
    font-size: 70px;
    padding: 0;
    margin: 0;
}
.flag {
    margin-right: 4px;
}